<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="false" verbose="1">
    <test name="Regression">
        <classes>
            <class name="my.hw.ui.TestSuite1"/>
            <class name="my.hw.ui.TestSuite2"/>
        </classes>
    </test>
</suite>